@import '../../../app/src/theme.css';
@import '../../../app/src/tokens.css';

html {
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

body > h1 {
  margin: 0;
  padding: 10px 10px 0 10px;
  font-size: 16px;
}

#editor {
  flex: 1;
}

.cm-editor {
  height: 100%;
}
